body {
    height: 100vh;
    color:beige;
    margin: 0;
    padding: 0;
}

.text-typing {
    width: 270px;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    white-space:nowrap;
    margin-inline: auto;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 20px;
}


.stickman_image {
    width: 300px;
    margin-left: 43%;
}

.stickman_image img {
    width: 200px;
    height: 200px;
    margin: 0;
    margin-bottom: 30px;
}

.input_word {
   font-size: 22px;
   color: black;
   display: inline-block;
   margin-right: 10px;
}

input[type="text"] {
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="text"]:focus {
    box-shadow: 2px 2px 3px #202020;
}

.input {
    width: 500px;
    margin-inline: auto;
    margin-bottom: 15px;
}

.submit_btn {
    width: 100px;
    margin-inline: auto;
}


input[type="submit"] {
  text-wrap: wrap;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #aaaaaa;
}

.page-2 {
    display: none;
    color:#000000;
    font-size: 20px;
}

/* .page-1 {
    display: none;
} */

.keylist {
  margin-inline: auto;
  width: 470px;
  display: flex;
  gap: 5px;
  margin-top: 10px;
  justify-content: center;
}

.keylist_3 {
    margin-bottom: 15px;
}

.list_item {
    color: black;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
}

.list_item:hover {
    background-color: #aaaaaa;
}

.playground {
    margin-inline: auto;
    border-radius: 10px;
    border: 3px solid black;
    width: 50%;
    height: 500px;
}

.default_svg {
    width: 100%;
    height: 100%;
}

.word_container {
    display: flex;
    justify-content: center;
}

.word_letter {
    font-size: 30px;
    margin-right: 5px;
    color: transparent;
}

.word_letter:last-child {
    margin-right: 0;
}

.word_letter::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px; 
    background-color: black; 
    position: relative;
    bottom: 25px;
  }